@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #000;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {



  &-restaurants {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
    flex-wrap: wrap;
  }

  .header {
    padding: 10px 30px;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: #F5FCFF;



    .logo {
      display: inline-flex;
      font-size: 22px;
    }

    .user {
      display: inline-flex;
    }
  }

}

.restaurant {
  box-sizing: border-box;
  margin: 2px;
  display: inline-flex;
  outline: 1px solid #F5FCFF;
  padding: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 290px;
  max-height: 200px;
  background: #F5FCFF;
  cursor: pointer;


  &:hover {
    outline-color: #59B8DE;
  }
  
  
  &:hover .plus {
    color: #59B8DE;
  }


  &__title {
    font-weight: 500;
    font-size: 1.8em;
    padding-bottom: 30px;
    text-align: start;
    display: inline-flex;
  }


  &__header {
    display: flex;
    justify-content: space-between;


  }


  &__location {
    font-size: .8em;
    text-align: start;

    .address {
      font-size: 18px;
    }
  }


  &__image {
    display: inline-flex;
    img {
      width: 50px;
      height: 50px;
    }
  }


  &__time {
    text-align: start;
    span {
      font-size: 18px;
    }
  }



}
.plus-box {
  width: 100%;

  .plus {
    font-size: 4.5em;
    margin: 0 auto;
    color: #CBC8C8;
  }
}


